.VideoPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: AC;
  -webkit-text-stroke: 0.05em #FFD3E2;
  color: #FFFEF3;
  font-size: 1.8em;
}


.AboutPage{
  height: 100%;
  -webkit-text-stroke: 0.05em #FFD3E2;
  color: #FFFEF3;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: AC;
}


@font-face {
  font-family: AC;
  src: url(./fonts/AppleChancery.ttf);
}


.introtext{
  -webkit-text-stroke: 0.05em #FFD3E2;
  color: #FFFEF3;
  font-size: 1.5em;
  font-family: AC;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.5em;
}
.textintro{
  max-width: 70%;
}
.NavBar{
  -webkit-text-stroke: 0.05em #FFD3E2;
  color: #FFFEF3;
  font-size: 1.8em;
  width: 100%;
  height:5%;
  padding-left: 0.25em;
  padding-top: 0.25em;
  font-family: AC;
}

.rootNav:hover{
  cursor: pointer;
}

.type:hover{
  cursor:pointer;
}
.app{height: 100%;}
.everythingelse{height: 100%;}
.App{
    height:100%;
    padding-left: 0.25em;
    font-family: AC;

    display: flex;
    align-items: center;
}
.left{
  padding-left: 0.25em;
  width: 100%;
  height: 90%;
  display: flex;
  margin-top:none;
  align-items: center;
}
.menucenter{
  width: 80%;
  display: flex;
  align-items: center;
  margin-right:0.5em;
}

.twins{
  width:100%;
  height: auto;
  display: flex;
}

.menu{
  -webkit-text-stroke: 0.05em #FFD3E2;
  color: #FFFEF3;
  font-size: 1.8em;
  max-width: 100%;
  white-space:nowrap;
}

.choice:hover{
  text-decoration: underline;
  cursor: pointer;
}
.imagecontainer{
  display: flex;
  align-content: center;
  justify-content: center;
}
.imagesize{
    max-width: 30%;
    min-width: 250px;
}
.img{
  align-self: flex-start;
  max-width: 100%;
  max-height: 500px;
  pointer-events: none;

}

.displayimg{
  margin-bottom:3em;
  width:100%;
  height:auto;
  pointer-events: none;
}

a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 300px) {
  .twins{
    width: 100%;
    height: auto;
    display: flex;
    margin: 1em;
    align-items: center;
    justify-content: center;
  }
  .menucenter{
    width: 100%;
  }
  .img{
    width: auto;
    max-width: 100%;
    max-height: 400px;
  }
  .menu{
    -webkit-text-stroke: 0.1em #FFFEF3;
    color: #FFD3E2;
    font-size: 25px;
    max-width: 100%;
    margin-right: 0.5em;
    white-space:nowrap;
  }
  .left{
    height: 90%;
    display: flex;
    margin: 2em;
    align-items: center;
  }
}

@media (max-width: 400px){
  .menu{
    -webkit-text-stroke: 0.05em #FFD3E2;
    color: #FFFEF3;
    font-size: 6vw;
    max-width: 100%;
    white-space:nowrap;
  }
  .VideoPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: AC;
    -webkit-text-stroke: 0.05em #FFD3E2;
    font-size: 0px;
  }
  iframe{
    width:100%;
  }
}
